$cwhite : white;
$cblack : black;

.btn {
    background-color: $cwhite;
    color:$cblack;
    border: 2px solid$cblack;
    padding: 10px 40px;
    font-weight: 600;
    cursor: pointer;
    margin: 50px 0;
    transition: all 0.3s;
    &:hover {
        background-color: $cblack;
        color: $cwhite;
    }
    &-cube {
        background-color: $cblack;
        & .inner{
            background-color: $cwhite;
        }
    }
}
#container {
    text-align: center;
}